<div class="container" #container [ngStyle]="containerStyle">
    <div id="header">
        <img src="assets/uc.gif" >
    </div>
    <div class="chat-body" #chat>
        <div  *ngFor="let m of mesArr"><app-message (liked)="onMessageLike($event)" [messageDoc]="m"></app-message></div>
    </div>

    <div class="chat-input">
        <form class="chat-form" (ngSubmit)="sendMessage($event)">
            <mat-form-field>
                <input matInput #messageText autocomplete="off">
            </mat-form-field>
            <button  mat-raised-button>send  </button>
        </form>
    </div>

</div>
