<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenavleft mode="over">
        Left content - to be used for multiple chats
    </mat-sidenav>
    <mat-sidenav #sidenavright mode="over" position="end">
        Right content - to be used for profile data
        <br>
        <button mat-raised-button (click)="auth.SignOut()">
            Log out
         </button>
    </mat-sidenav>

    <div class="container" #container [ngStyle]="containerStyle">
        <span>
        <a style="float:left;"(click)="sidenavleft.toggle()">
            <mat-icon>menu</mat-icon>
        </a>
        <marquee id="header">
            <img src="assets/uc.gif">
        </marquee>
        <a style="float:right;"(click)="sidenavright.toggle()">
            <mat-icon>settings</mat-icon>
        </a>
        </span>
        <div class="chat-body" #chat>
            <div *ngFor="let m of mesArr">
                <app-message (liked)="onMessageLike($event)" [messageDoc]="m"></app-message>
            </div>
        </div>

        <div class="chat-input">
            <form class="chat-form" (ngSubmit)="sendMessage($event, 'normal')">
                <mat-slide-toggle [(ngModel)]="nsfw" [ngModelOptions]="{standalone: true}">NSFW</mat-slide-toggle>
                <div style="display: flex; flex-direction: row;">
                    <mat-form-field>
                        <input matInput #messageText autocomplete="off">
                    </mat-form-field>
                    <div style="display:flex; flex-direction: column;">
                        <button id="send" (click)="sendMessage($event, 'normal')" mat-raised-button>send  </button>
                        <button id="anon" (click)="sendMessage($event, 'anon')" mat-raised-button>anon </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</mat-sidenav-container>