<div *ngIf="messageData else loading">
    <div class="container" [ngStyle]="messageStyle()" (click)="likeVisible = !likeVisible">
        <div class="message">
            <span class="name">
                <img *ngIf="photoURL && photoURL!=''" mat-card-avatar class="profile-picture" [src]="photoURL" onerror="this.src='assets/default_group_chat.png'">
                <span style="max-width:80%; word-wrap:break-word; word-break: break-all; z-index:inherit">{{messageData.displayName}}: </span>
            <span style="flex: 1 1 auto"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="nsfw" (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>
            </span>
            <span>
                <div class="nsfw-blur" *ngIf="nsfwVisible">
                    <span><mat-icon  (click)="nsfwVisible = false; $event.stopPropagation();">warning</mat-icon></span>
        </div>
        <br> <span [innerHtml]="messageText"> </span>
        <br>
        <div class="image-wrapper" *ngIf="imageUrl">
            <img class="message-image" [src]="imageUrl">
        </div>
        <div class="image-wrapper" *ngIf="tweetId">
            <ngx-tweet [tweetId]="tweetId"></ngx-tweet>
        </div>
        <div class="image-wrapper" *ngIf="youtubeId">
            <youtube-player [width]="200" [height]="100" [videoId]="youtubeId"></youtube-player>
        </div>
        </span>
        <span *ngIf="messageData.timestamp != null" class="timestamp">{{messageData.timestamp.seconds*1000 | date:'medium'}} </span>
    </div>
    <div class="like-container" *ngIf="loaded">
        <div (click)="likeMes(); $event.stopPropagation()" #likeContainer>
            <a *ngIf="messageData.likeArr" href="#">
                <svg class="heart" viewBox="0 0 32 29.6" [ngStyle]="{'transform': heartScale}">
                    <path class="heart-drawing" [ngStyle]="{'animation': heartAnimation, 'fill': heartColor}"  d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                    c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
                    <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle" [ngStyle]="{'font-size':heartTextScale}" fill="black">{{messageData.likeArr.length }}</text>
                </svg>
            </a>
        </div>
    </div>

    <div class="like-container" *ngIf="!loaded">
        spinning...
    </div>
</div>

<div class="like-list" *ngIf="messageData.likeArr.length > 0 && likeVisible">
    <span class="like-element" *ngFor="let u of messageData.likeArr">
            {{u}}
        </span>
</div>
</div>

<ng-template #loading>
    <div class="container">
        <div class="message">
            loading...
        </div>
    </div>
</ng-template>

<!--Message Option Menu-->
<mat-menu #menu="matMenu">
    <button *ngIf="nsfw" mat-menu-item (click)="nsfwVisible = true; $event.stopPropagation()">
        <mat-icon>warning</mat-icon>
        <span>Re-NSFW</span>
    </button>
</mat-menu>