<form (ngSubmit)="signup($event)">
    <div style=" margin: auto; width: 80%; ">
        <mat-form-field style="width: 100%">
            email <input matInput #email autocomplete="off">
        </mat-form-field>
    </div>
    <div style=" margin: auto; width: 80%; ">
        <mat-form-field style="width: 100%; ">
            password <input type="password" matInput #password autocomplete="off">
        </mat-form-field>
    </div>
    <br>
    <div style=" margin: auto; width: 80%; ">
        <button mat-raised-button>SIGN ONLINE  </button>
    </div>
</form>

<br>
<br>
<div style="margin: auto; width: 80%;">
    Have an account? <a routerLink="/loginpage" routerLinkActive="active"> Don't create one now! </a>
</div>