<mat-card class="profile-wrapper">
    <mat-card-header>
        <img mat-card-avatar class="profile-picture" [src]="auth.userData.photoURL" onerror="this.src='assets/default_group_chat.png'">
        <mat-card-title>{{auth.userData.displayName != null ? auth.userData.displayName : auth.userData.email}}</mat-card-title>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <br>
    <mat-card>
        <mat-card-title>Name</mat-card-title>
        <mat-card-content>
            <editable (update)="updateField('displayName')">
                <ng-template viewMode>{{options.displayName}}</ng-template>
                <ng-template editMode>
                    <input [formControl]="getControl('displayName')" editableOnEnter>
                </ng-template>
            </editable>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <br>
        <mat-card-title>Photo URL</mat-card-title>
        <mat-card-content>
            <editable (update)="updateField('photoURL')">
                <ng-template viewMode>{{options.photoURL}}</ng-template>
                <ng-template editMode>
                    <input [formControl]="getControl('photoURL')" editableOnEnter>
                </ng-template>
            </editable>
        </mat-card-content>
    </mat-card>

    <mat-divider [inset]="true"></mat-divider>
    <br>
    <button mat-raised-button (click)="auth.SignOut()">
            Log out
         </button>
</mat-card>