<mat-sidenav-container class="example-container">


    <mat-sidenav #sidenavleft mode="over" class="sidenav">
        <button mat-button style="height: 0; position: absolute;"> <!-- 'absorbs' the auto-focus behavior --> </button>
        <mat-toolbar color="secondary">
            <span> 
                <button mat-icon-button (click)="sidenavleft.close()" ><mat-icon>keyboard_backspace</mat-icon></button>
            </span>
            <span>
                Custom Chats
            </span>
        </mat-toolbar>
        <app-chat-list></app-chat-list>
    </mat-sidenav>
    <mat-sidenav #sidenavright mode="over" position="end" class="sidenav">
        <button mat-button style="height: 0; position: absolute;"> <!-- 'absorbs' the auto-focus behavior -->
        </button>
        <mat-tab-group dynamicHeight>
            <mat-tab label="User Profile">
                <app-profile-page></app-profile-page>
            </mat-tab>
            <mat-tab label="Chat Options">
                <app-chat-options></app-chat-options>
            </mat-tab>

        </mat-tab-group>
    </mat-sidenav>

    <div class="container" #container [ngStyle]="containerStyle">

        <mat-toolbar color="primary">
            <span>
                <button mat-icon-button (click)="sidenavleft.toggle()"><mat-icon>menu</mat-icon></button >
            </span>

            <!-- This fills the remaining space of the current row -->
            <span class="fill-remaining-space">
                <marquee id="header">
                    <img src="assets/uc.gif">
                </marquee>
            </span>

            <span>
                <button mat-icon-button (click)="sidenavright.toggle()"><mat-icon>settings</mat-icon></button >
            </span>
        </mat-toolbar>


        <app-chat class="chat-body" *ngIf="chatdb.chatID" [chatID]="chatdb.chatID" [chatName]="chatdb.displayName"></app-chat>

        <div *ngIf="!chatdb.chatID">
            NONE CHAT SELECT
            <br> PLEASE SELECT CHAT
        </div>
    </div>

</mat-sidenav-container>