<mat-sidenav-container class="example-container">


    <mat-sidenav #sidenavleft mode="over" class="sidenav">
        <app-chat-list></app-chat-list>
    </mat-sidenav>
    <mat-sidenav #sidenavright mode="over" position="end" class="sidenav">
        <button mat-button style="height: 0; position: absolute;"> <!-- 'absorbs' the auto-focus behavior -->
        </button>
        <app-profile-page></app-profile-page>
    </mat-sidenav>

    <div class="container" #container [ngStyle]="containerStyle">

        <mat-toolbar color="primary">
            <span>
                <button mat-icon-button (click)="sidenavleft.toggle()"><mat-icon>menu</mat-icon></button >
            </span>

            <!-- This fills the remaining space of the current row -->
            <span class="fill-remaining-space">
                <marquee id="header">
                    <img src="assets/uc.gif">
                </marquee>
            </span>

            <span>
                <button mat-icon-button (click)="sidenavright.toggle()"><mat-icon>settings</mat-icon></button >
            </span>
        </mat-toolbar>
        <app-chat *ngIf="isShown" chatID="chatdb.chatID" chatName="THE CHAT"></app-chat>
    </div>

</mat-sidenav-container>